pip install fastf1
pip install --upgrade pandas

In [1]:
import fastf1 as ff1
from fastf1 import plotting
from fastf1 import utils

from matplotlib import pyplot as plt
from matplotlib.pyplot import figure

import numpy as np
import pandas as pd

In [2]:
# Enable the cache by providing the name of the cache folder
ff1.Cache.enable_cache('cache')

In [3]:
year, grand_prix, session = 2022, 'Saudi Arabia', 'R'

In [4]:
race = ff1.get_session(year, grand_prix, session)
race.load() # This is new with Fastf1 v.2.2

core           INFO 	Loading data for Saudi Arabian Grand Prix - Race [v2.2.5]
api            INFO 	Using cached data for driver_info
api            INFO 	Using cached data for timing_data
api            INFO 	Using cached data for timing_app_data
core           INFO 	Processing timing data...
api            INFO 	Using cached data for session_status_data
core        WARNING 	No lap data for driver 22
api            INFO 	Using cached data for track_status_data
api            INFO 	Using cached data for car_data
api            INFO 	Using cached data for position_data
api            INFO 	Using cached data for weather_data
api            INFO 	Using cached data for race_control_messages
core           INFO 	Finished loading data for 19 drivers: ['1', '16', '55', '11', '63', '31', '4', '10', '20', '44', '24', '27', '18', '23', '77', '14', '3', '6', '22']

In [5]:
racelaps = race.laps

In [6]:
racelaps['laptime2'] = racelaps['LapStartDate'].diff().shift(-1)

In [7]:
racelaps.loc[racelaps['laptime2'] <'-1 days +23:37:12.206000','laptime2']= racelaps['LapTime']

In [8]:
racelaps["acumulado"] = racelaps.groupby('Driver')['laptime2'].cumsum()

In [9]:
racelaps.loc[racelaps['acumulado'] <'-1 days +23:37:12.206000','acumulado']= racelaps['laptime2']

In [10]:
racelapsmin = racelaps.groupby('LapNumber')['acumulado'].min()
df_racelapsmin = pd.DataFrame(data=racelapsmin).reset_index().rename(columns={'acumulado':'min_acumulado'})
df_racelapsmin

    LapNumber          min_acumulado
0         1.0 0 days 00:01:36.291000
1         2.0 0 days 00:03:11.013000
2         3.0 0 days 00:04:45.609000
3         4.0 0 days 00:06:20.049000
4         5.0 0 days 00:07:54.545000
5         6.0 0 days 00:09:29.026000
6         7.0 0 days 00:11:03.847000
7         8.0 0 days 00:12:38.466000
8         9.0 0 days 00:14:13.291000
9        10.0 0 days 00:15:48.127000
10       11.0 0 days 00:17:22.672000
11       12.0 0 days 00:18:57.343000
12       13.0 0 days 00:20:32.557000
13       14.0 0 days 00:22:07.873000
14       15.0 0 days 00:23:45.390000
15       16.0 0 days 00:25:29.230000
16       17.0 0 days 00:28:33.851000
17       18.0 0 days 00:31:13.962000
18       19.0 0 days 00:33:42.964000
19       20.0 0 days 00:36:27.586000
20       21.0 0 days 00:38:02.222000
21       22.0 0 days 00:39:36.297000
22       23.0 0 days 00:41:09.756000
23       24.0 0 days 00:42:43.277000
24       25.0 0 days 00:44:16.601000
25       26.0 0 days 00:45:49.783000
26       27.0 0 days 00:47:22.967000
27       28.0 0 days 00:48:55.678000
28       29.0 0 days 00:50:28.620000
29       30.0 0 days 00:52:01.372000
30       31.0 0 days 00:53:34.451000
31       32.0 0 days 00:55:07.134000
32       33.0 0 days 00:56:40.012000
33       34.0 0 days 00:58:12.692000
34       35.0 0 days 00:59:45.173000
35       36.0 0 days 01:01:17.813000
36       37.0 0 days 01:02:50.915000
37       38.0 0 days 01:04:38.127000
38       39.0 0 days 01:06:44.546000
39       40.0 0 days 01:08:51.007000
40       41.0 0 days 01:10:27.124000
41       42.0 0 days 01:12:00.329000
42       43.0 0 days 01:13:34.223000
43       44.0 0 days 01:15:06.393000
44       45.0 0 days 01:16:38.652000
45       46.0 0 days 01:18:12.075000
46       47.0 0 days 01:19:43.854000
47       48.0 0 days 01:21:15.715000
48       49.0 0 days 01:22:47.794000
49       50.0 0 days 01:24:19.566000

In [11]:
racelaps = racelaps.merge(df_racelapsmin[["LapNumber",'min_acumulado']],how = 'left')

In [12]:
racelaps['Diff_primero']=racelaps['acumulado']-racelaps['min_acumulado']

In [13]:
conditionlist = [
    (racelaps['TrackStatus'] == '1') , (racelaps['TrackStatus'] == '264') , (racelaps['TrackStatus'] == '4'), (racelaps['TrackStatus'] == '2'), (racelaps['TrackStatus'] == '26'), (racelaps['TrackStatus'] == '6'), (racelaps['TrackStatus'] == '67'), (racelaps['TrackStatus'] == '7'), (racelaps['TrackStatus'] == '5') ]
choicelist = ['Verde','Virtual Safety Car','Safety Car','Amarilla','Safety Car','Virtual Safety Car','Virtual Safety Car','Verde','Roja']
racelaps['Bandera'] = np.select(conditionlist, choicelist, default='Otro')

In [14]:
racelaps['Pittime']= (racelaps.PitInTime - racelaps.PitOutTime.shift(-1))*-1

In [15]:
racelaps.loc[racelaps['Pittime'] <'-1 days +23:37:12.206000','Pittime']= np.nan

In [16]:
racelaps['Diferencia respecto al primero']=racelaps.Diff_primero.dt.total_seconds()

In [17]:
racelaps['Tiempo_pits']=racelaps.Pittime.dt.total_seconds()

In [18]:
racelaps['Tiempo_vuelta'] = racelaps['laptime2'].astype(str)

In [19]:
racelaps['Tiempo_vuelta']=racelaps['Tiempo_vuelta'].apply(lambda x: x.replace('0 days 00:',''))

In [20]:
racelaps['Tiempo_vuelta']=racelaps['Tiempo_vuelta'].apply(lambda x: x.rstrip('000'))

In [21]:
racelaps.head(55)

,Time,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,Sector2Time,Sector3Time,...,LapStartDate,laptime2,acumulado,min_acumulado,Diff_primero,Bandera,Pittime,Diferencia respecto al primero,Tiempo_pits,Tiempo_vuelta
0,0 days 01:04:05.947000,1,NaT,1.0,1.0,0 days 00:21:33.199000,NaT,NaT,0 days 00:00:30.360000,0 days 00:00:29.775000,...,2022-03-27 17:03:27.573,0 days 00:01:38.384000,0 days 00:01:38.384000,0 days 00:01:36.291000,0 days 00:00:02.093000,Verde,NaT,2.093,NaN,01:38.384
1,0 days 01:05:41.222000,1,0 days 00:01:35.275000,2.0,1.0,NaT,NaT,0 days 00:00:35.387000,0 days 00:00:30.255000,0 days 00:00:29.633000,...,2022-03-27 17:05:05.957,0 days 00:01:35.275000,0 days 00:03:13.659000,0 days 00:03:11.013000,0 days 00:00:02.646000,Verde,NaT,2.646,NaN,01:35.275
2,0 days 01:07:16.112000,1,0 days 00:01:34.890000,3.0,1.0,NaT,NaT,0 days 00:00:35.145000,0 days 00:00:30.204000,0 days 00:00:29.541000,...,2022-03-27 17:06:41.232,0 days 00:01:34.890000,0 days 00:04:48.549000,0 days 00:04:45.609000,0 days 00:00:02.940000,Verde,NaT,2.940,NaN,01:34.89
3,0 days 01:08:50.812000,1,0 days 00:01:34.700000,4.0,1.0,NaT,NaT,0 days 00:00:35.025000,0 days 00:00:30.238000,0 days 00:00:29.437000,...,2022-03-27 17:08:16.122,0 days 00:01:34.700000,0 days 00:06:23.249000,0 days 00:06:20.049000,0 days 00:00:03.200000,Verde,NaT,3.200,NaN,01:34.7
4,0 days 01:10:25.621000,1,0 days 00:01:34.809000,5.0,1.0,NaT,NaT,0 days 00:00:35.107000,0 days 00:00:30.147000,0 days 00:00:29.555000,...,2022-03-27 17:09:50.822,0 days 00:01:34.809000,0 days 00:07:58.058000,0 days 00:07:54.545000,0 days 00:00:03.513000,Verde,NaT,3.513,NaN,01:34.809
5,0 days 01:12:00.461000,1,0 days 00:01:34.840000,6.0,1.0,NaT,NaT,0 days 00:00:35.157000,0 days 00:00:30.156000,0 days 00:00:29.527000,...,2022-03-27 17:11:25.631,0 days 00:01:34.840000,0 days 00:09:32.898000,0 days 00:09:29.026000,0 days 00:00:03.872000,Verde,NaT,3.872,NaN,01:34.84
6,0 days 01:13:35.095000,1,0 days 00:01:34.634000,7.0,1.0,NaT,NaT,0 days 00:00:35.083000,0 days 00:00:30.108000,0 days 00:00:29.443000,...,2022-03-27 17:13:00.471,0 days 00:01:34.634000,0 days 00:11:07.532000,0 days 00:11:03.847000,0 days 00:00:03.685000,Verde,NaT,3.685,NaN,01:34.634
7,0 days 01:15:09.916000,1,0 days 00:01:34.821000,8.0,1.0,NaT,NaT,0 days 00:00:35.108000,0 days 00:00:30.194000,0 days 00:00:29.519000,...,2022-03-27 17:14:35.105,0 days 00:01:34.821000,0 days 00:12:42.353000,0 days 00:12:38.466000,0 days 00:00:03.887000,Verde,NaT,3.887,NaN,01:34.821
8,0 days 01:16:44.748000,1,0 days 00:01:34.832000,9.0,1.0,NaT,NaT,0 days 00:00:35.150000,0 days 00:00:30.248000,0 days 00:00:29.434000,...,2022-03-27 17:16:09.926,0 days 00:01:34.832000,0 days 00:14:17.185000,0 days 00:14:13.291000,0 days 00:00:03.894000,Verde,NaT,3.894,NaN,01:34.832
9,0 days 01:18:20,1,0 days 00:01:35.252000,10.0,1.0,NaT,NaT,0 days 00:00:35.219000,0 days 00:00:30.413000,0 days 00:00:29.620000,...,2022-03-27 17:17:44.758,0 days 00:01:35.252000,0 days 00:15:52.437000,0 days 00:15:48.127000,0 days 00:00:04.310000,Verde,NaT,4.310,NaN,01:35.252
10,0 days 01:19:54.959000,1,0 days 00:01:34.959000,11.0,1.0,NaT,NaT,0 days 00:00:35.104000,0 days 00:00:30.262000,0 days 00:00:29.593000,...,2022-03-27 17:19:20.010,0 days 00:01:34.959000,0 days 00:17:27.396000,0 days 00:17:22.672000,0 days 00:00:04.724000,Verde,NaT,4.724,NaN,01:34.959
11,0 days 01:21:30.150000,1,0 days 00:01:35.191000,12.0,1.0,NaT,NaT,0 days 00:00:35.303000,0 days 00:00:30.273000,0 days 00:00:29.615000,...,2022-03-27 17:20:54.969,0 days 00:01:35.191000,0 days 00:19:02.587000,0 days 00:18:57.343000,0 days 00:00:05.244000,Verde,NaT,5.244,NaN,01:35.191
12,0 days 01:23:05.132000,1,0 days 00:01:34.982000,13.0,1.0,NaT,NaT,0 days 00:00:35.203000,0 days 00:00:30.242000,0 days 00:00:29.537000,...,2022-03-27 17:22:30.160,0 days 00:01:34.982000,0 days 00:20:37.569000,0 days 00:20:32.557000,0 days 00:00:05.012000,Verde,NaT,5.012,NaN,01:34.982
13,0 days 01:24:40.225000,1,0 days 00:01:35.093000,14.0,1.0,NaT,NaT,0 days 00:00:35.142000,0 days 00:00:30.279000,0 days 00:00:29.672000,...,2022-03-27 17:24:05.142,0 days 00:01:35.093000,0 days 00:22:12.662000,0 days 00:22:07.873000,0 days 00:00:04.789000,Verde,NaT,4.789,NaN,01:35.093
14,0 days 01:26:15.595000,1,0 days 00:01:35.370000,15.0,1.0,NaT,NaT,0 days 00:00:35.190000,0 days 00:00:30.526000,0 days 00:00:29.654000,...,2022-03-27 17:25:40.235,0 days 00:01:35.370000,0 days 00:23:48.032000,0 days 00:23:45.390000,0 days 00:00:02.642000,Verde,NaT,2.642,NaN,01:35.37
15,0 days 01:28:00.172000,1,0 days 00:01:44.577000,16.0,1.0,NaT,0 days 01:27:59.039000,0 days 00:00:35.375000,0 days 00:00:30.273000,0 days 00:00:38.929000,...,2022-03-27 17:27:15.605,0 days 00:01:44.577000,0 days 00:25:32.609000,0 days 00:25:29.230000,0 days 00:00:03.379000,Virtual Safety Car,0 days 00:00:20.731000,3.379,20.731,01:44.577
16,0 days 01:31:02.840000,1,NaT,17.0,2.0,0 days 01:28:19.770000,NaT,0 days 00:01:07.639000,0 days 00:00:51.363000,0 days 00:01:03.656000,...,2022-03-27 17:29:00.182,0 days 00:03:02.668000,0 days 00:28:35.277000,0 days 00:28:33.851000,0 days 00:00:01.426000,Safety Car,NaT,1.426,NaN,03:02.668
17,0 days 01:33:42.375000,1,NaT,18.0,2.0,NaT,NaT,0 days 00:00:55.341000,0 days 00:00:48.281000,0 days 00:00:55.945000,...,2022-03-27 17:32:02.850,0 days 00:02:39.535000,0 days 00:31:14.812000,0 days 00:31:13.962000,0 days 00:00:00.850000,Safety Car,NaT,0.850,NaN,02:39.535
18,0 days 01:36:12.010000,1,0 days 00:02:29.635000,19.0,2.0,NaT,NaT,0 days 00:00:53.413000,0 days 00:00:46.744000,0 days 00:00:49.478000,...,2022-03-27 17:34:42.385,0 days 00:02:29.635000,0 days 00:33:44.447000,0 days 00:33:42.964000,0 days 00:00:01.483000,Safety Car,NaT,1.483,NaN,02:29.635
19,0 days 01:38:55.490000,1,NaT,20.0,2.0,NaT,NaT,0 days 00:00:52.136000,0 days 00:00:45.115000,0 days 00:01:06.236000,...,2022-03-27 17:37:12.020,0 days 00:02:43.480000,0 days 00:36:27.927000,0 days 00:36:27.586000,0 days 00:00:00.341000,Safety Car,NaT,0.341,NaN,02:43.48
20,0 days 01:40:30.717000,1,0 days 00:01:35.227000,21.0,2.0,NaT,NaT,0 days 00:00:35.577000,0 days 00:00:29.986000,0 days 00:00:29.664000,...,2022-03-27 17:39:55.500,0 days 00:01:35.227000,0 days 00:38:03.154000,0 days 00:38:02.222000,0 days 00:00:00.932000,Verde,NaT,0.932,NaN,01:35.227
21,0 days 01:42:04.884000,1,0 days 00:01:34.167000,22.0,2.0,NaT,NaT,0 days 00:00:34.979000,0 days 00:00:29.863000,0 days 00:00:29.325000,...,2022-03-27 17:41:30.727,0 days 00:01:34.167000,0 days 00:39:37.321000,0 days 00:39:36.297000,0 days 00:00:01.024000,Verde,NaT,1.024,NaN,01:34.167
22,0 days 01:43:38.572000,1,0 days 00:01:33.688000,23.0,2.0,NaT,NaT,0 days 00:00:34.814000,0 days 00:00:29.795000,0 days 00:00:29.079000,...,2022-03-27 17:43:04.894,0 days 00:01:33.688000,0 days 00:41:11.009000,0 days 00:41:09.756000,0 days 00:00:01.253000,Verde,NaT,1.253,NaN,01:33.688
23,0 days 01:45:12.017000,1,0 days 00:01:33.445000,24.0,2.0,NaT,NaT,0 days 00:00:34.675000,0 days 00:00:29.704000,0 days 00:00:29.066000,...,2022-03-27 17:44:38.582,0 days 00:01:33.445000,0 days 00:42:44.454000,0 days 00:42:43.277000,0 days 00:00:01.177000,Verde,NaT,1.177,NaN,01:33.445
24,0 days 01:46:45.318000,1,0 days 00:01:33.301000,25.0,2.0,NaT,NaT,0 days 00:00:34.521000,0 days 00:00:29.663000,0 days 00:00:29.117000,...,2022-03-27 17:46:12.027,0 days 00:01:33.301000,0 days 00:44:17.755000,0 days 00:44:16.601000,0 days 00:00:01.154000,Verde,NaT,1.154,NaN,01:33.301
25,0 days 01:48:18.622000,1,0 days 00:01:33.304000,26.0,2.0,NaT,NaT,0 days 00:00:34.575000,0 days 00:00:29.713000,0 days 00:00:29.016000,...,2022-03-27 17:47:45.328,0 days 00:01:33.304000,0 days 00:45:51.059000,0 days 00:45:49.783000,0 days 00:00:01.276000,Verde,NaT,1.276,NaN,01:33.304
26,0 days 01:49:51.681000,1,0 days 00:01:33.059000,27.0,2.0,NaT,NaT,0 days 00:00:34.458000,0 days 00:00:29.571000,0 days 00:00:29.030000,...,2022-03-27 17:49:18.632,0 days 00:01:33.059000,0 days 00:47:24.118000,0 days 00:47:22.967000,0 days 00:00:01.151000,Verde,NaT,1.151,NaN,01:33.059
27,0 days 01:51:24.711000,1,0 days 00:01:33.030000,28.0,2.0,NaT,NaT,0 days 00:00:34.398000,0 days 00:00:29.606000,0 days 00:00:29.026000,...,2022-03-27 17:50:51.691,0 days 00:01:33.030000,0 days 00:48:57.148000,0 days 00:48:55.678000,0 days 00:00:01.470000,Verde,NaT,1.470,NaN,01:33.03
28,0 days 01:52:57.641000,1,0 days 00:01:32.930000,29.0,2.0,NaT,NaT,0 days 00:00:34.306000,0 days 00:00:29.556000,0 days 00:00:29.068000,...,2022-03-27 17:52:24.721,0 days 00:01:32.930000,0 days 00:50:30.078000,0 days 00:50:28.620000,0 days 00:00:01.458000,Verde,NaT,1.458,NaN,01:32.93
29,0 days 01:54:30.419000,1,0 days 00:01:32.778000,30.0,2.0,NaT,NaT,0 days 00:00:34.243000,0 days 00:00:29.560000,0 days 00:00:28.975000,...,2022-03-27 17:53:57.651,0 days 00:01:32.778000,0 days 00:52:02.856000,0 days 00:52:01.372000,0 days 00:00:01.484000,Verde,NaT,1.484,NaN,01:32.778
30,0 days 01:56:03.316000,1,0 days 00:01:32.897000,31.0,2.0,NaT,NaT,0 days 00:00:34.328000,0 days 00:00:29.639000,0 days 00:00:28.930000,...,2022-03-27 17:55:30.429,0 days 00:01:32.897000,0 days 00:53:35.753000,0 days 00:53:34.451000,0 days 00:00:01.302000,Verde,NaT,1.302,NaN,01:32.897
31,0 days 01:57:36.203000,1,0 days 00:01:32.887000,32.0,2.0,NaT,NaT,0 days 00:00:34.333000,0 days 00:00:29.581000,0 days 00:00:28.973000,...,2022-03-27 17:57:03.326,0 days 00:01:32.887000,0 days 00:55:08.640000,0 days 00:55:07.134000,0 days 00:00:01.506000,Verde,NaT,1.506,NaN,01:32.887
32,0 days 01:59:09.058000,1,0 days 00:01:32.855000,33.0,2.0,NaT,NaT,0 days 00:00:34.310000,0 days 00:00:29.588000,0 days 00:00:28.957000,...,2022-03-27 17:58:36.213,0 days 00:01:32.855000,0 days 00:56:41.495000,0 days 00:56:40.012000,0 days 00:00:01.483000,Verde,NaT,1.483,NaN,01:32.855
33,0 days 02:00:41.885000,1,0 days 00:01:32.827000,34.0,2.0,NaT,NaT,0 days 00:00:34.322000,0 days 00:00:29.485000,0 days 00:00:29.020000,...,2022-03-27 18:00:09.068,0 days 00:01:32.827000,0 days 00:58:14.322000,0 days 00:58:12.692000,0 days 00:00:01.630000,Verde,NaT,1.630,NaN,01:32.827
34,0 days 02:02:14.359000,1,0 days 00:01:32.474000,35.0,2.0,NaT,NaT,0 days 00:00:34.189000,0 days 00:00:29.384000,0 days 00:00:28.901000,...,2022-03-27 18:01:41.895,0 days 00:01:32.474000,0 days 00:59:46.796000,0 days 00:59:45.173000,0 days 00:00:01.623000,Verde,NaT,1.623,NaN,01:32.474
35,0 days 02:03:46.902000,1,0 days 00:01:32.543000,36.0,2.0,NaT,NaT,0 days 00:00:34.122000,0 days 00:00:29.473000,0 days 00:00:28.948000,...,2022-03-27 18:03:14.369,0 days 00:01:32.543000,0 days 01:01:19.339000,0 days 01:01:17.813000,0 days 00:00:01.526000,Verde,NaT,1.526,NaN,01:32.543
36,0 days 02:05:20.026000,1,0 days 00:01:33.124000,37.0,2.0,NaT,NaT,0 days 00:00:34.128000,0 days 00:00:29.458000,0 days 00:00:29.538000,...,2022-03-27 18:04:46.912,0 days 00:01:33.124000,0 days 01:02:52.463000,0 days 01:02:50.915000,0 days 00:00:01.548000,Amarilla,NaT,1.548,NaN,01:33.124
37,0 days 02:07:08.899000,1,0 days 00:01:48.873000,38.0,2.0,NaT,NaT,0 days 00:00:34.183000,0 days 00:00:29.629000,0 days 00:00:45.061000,...,2022-03-27 18:06:20.036,0 days 00:01:48.873000,0 days 01:04:41.336000,0 days 01:04:38.127000,0 days 00:00:03.209000,Safety Car,NaT,3.209,NaN,01:48.873
38,0 days 02:09:16.493000,1,0 days 00:02:07.594000,39.0,2.0,NaT,NaT,0 days 00:00:43.100000,0 days 00:00:40.783000,0 days 00:00:43.711000,...,2022-03-27 18:08:08.909,0 days 00:02:07.594000,0 days 01:06:48.930000,0 days 01:06:44.546000,0 days 00:00:04.384000,Virtual Safety Car,NaT,4.384,NaN,02:07.594
39,0 days 02:11:20.192000,1,0 days 00:02:03.699000,40.0,2.0,NaT,NaT,0 days 00:00:40.272000,0 days 00:00:42.479000,0 days 00:00:40.948000,...,2022-03-27 18:10:16.503,0 days 00:02:03.699000,0 days 01:08:52.629000,0 days 01:08:51.007000,0 days 00:00:01.622000,Virtual Safety Car,NaT,1.622,NaN,02:03.699
40,0 days 02:12:55.137000,1,0 days 00:01:34.945000,41.0,2.0,NaT,NaT,0 days 00:00:37.311000,0 days 00:00:29.239000,0 days 00:00:28.395000,...,2022-03-27 18:12:20.202,0 days 00:01:34.945000,0 days 01:10:27.574000,0 days 01:10:27.124000,0 days 00:00:00.450000,Virtual Safety Car,NaT,0.450,NaN,01:34.945
41,0 days 02:14:27.892000,1,0 days 00:01:32.755000,42.0,2.0,NaT,NaT,0 days 00:00:34.669000,0 days 00:00:29.259000,0 days 00:00:28.827000,...,2022-03-27 18:13:55.147,0 days 00:01:32.755000,0 days 01:12:00.329000,0 days 01:12:00.329000,0 days 00:00:00,Verde,NaT,0.000,NaN,01:32.755
42,0 days 02:16:02.536000,1,0 days 00:01:34.644000,43.0,2.0,NaT,NaT,0 days 00:00:34.876000,0 days 00:00:29.293000,0 days 00:00:30.475000,...,2022-03-27 18:15:27.902,0 days 00:01:34.644000,0 days 01:13:34.973000,0 days 01:13:34.223000,0 days 00:00:00.750000,Verde,NaT,0.750,NaN,01:34.644
43,0 days 02:17:34.838000,1,0 days 00:01:32.302000,44.0,2.0,NaT,NaT,0 days 00:00:34.049000,0 days 00:00:29.462000,0 days 00:00:28.791000,...,2022-03-27 18:17:02.546,0 days 00:01:32.302000,0 days 01:15:07.275000,0 days 01:15:06.393000,0 days 00:00:00.882000,Verde,NaT,0.882,NaN,01:32.302
44,0 days 02:19:06.901000,1,0 days 00:01:32.063000,45.0,2.0,NaT,NaT,0 days 00:00:34.113000,0 days 00:00:29.234000,0 days 00:00:28.716000,...,2022-03-27 18:18:34.848,0 days 00:01:32.063000,0 days 01:16:39.338000,0 days 01:16:38.652000,0 days 00:00:00.686000,Verde,NaT,0.686,NaN,01:32.063
45,0 days 02:20:39.638000,1,0 days 00:01:32.737000,46.0,2.0,NaT,NaT,0 days 00:00:34.284000,0 days 00:00:29.183000,0 days 00:00:29.270000,...,2022-03-27 18:20:06.911,0 days 00:01:32.737000,0 days 01:18:12.075000,0 days 01:18:12.075000,0 days 00:00:00,Verde,NaT,0.000,NaN,01:32.737
46,0 days 02:22:11.417000,1,0 days 00:01:31.779000,47.0,2.0,NaT,NaT,0 days 00:00:33.738000,0 days 00:00:29.237000,0 days 00:00:28.804000,...,2022-03-27 18:21:39.648,0 days 00:01:31.779000,0 days 01:19:43.854000,0 days 01:19:43.854000,0 days 00:00:00,Verde,NaT,0.000,NaN,01:31.779
47,0 days 02:23:43.278000,1,0 days 00:01:31.861000,48.0,2.0,NaT,NaT,0 days 00:00:33.812000,0 days 00:00:29.328000,0 days 00:00:28.721000,...,2022-03-27 18:23:11.427,0 days 00:01:31.861000,0 days 01:21:15.715000,0 days 01:21:15.715000,0 days 00:00:00,Amarilla,NaT,0.000,NaN,01:31.861
48,0 days 02:25:15.357000,1,0 days 00:01:32.079000,49.0,2.0,NaT,NaT,0 days 00:00:34.164000,0 days 00:00:29.216000,0 days 00:00:28.699000,...,2022-03-27 18:24:43.288,0 days 00:01:32.079000,0 days 01:22:47.794000,0 days 01:22:47.794000,0 days 00:00:00,Amarilla,NaT,0.000,NaN,01:32.079
49,0 days 02:26:47.129000,1,0 days 00:01:31.772000,50.0,2.0,NaT,NaT,0 days 00:00:34.172000,0 days 00:00:29.113000,0 days 00:00:28.487000,...,2022-03-27 18:26:15.367,0 days 00:01:31.772000,0 days 01:24:19.566000,0 days 01:24:19.566000,0 days 00:00:00,Amarilla,NaT,0.000,NaN,01:31.772
50,0 days 01:04:04.983000,16,NaT,1.0,1.0,0 days 00:24:16.357000,NaT,NaT,0 days 00:00:30.338000,0 days 00:00:29.685000,...,2022-03-27 17:03:27.573,0 days 00:01:37.420000,0 days 00:01:37.420000,0 days 00:01:36.291000,0 days 00:00:01.129000,Verde,NaT,1.129,NaN,01:37.42
51,0 days 01:05:39.926000,16,0 days 00:01:34.943000,2.0,1.0,NaT,NaT,0 days 00:00:35.261000,0 days 00:00:30.090000,0 days 00:00:29.592000,...,2022-03-27 17:05:04.993,0 days 00:01:34.943000,0 days 00:03:12.363000,0 days 00:03:11.013000,0 days 00:00:01.350000,Verde,NaT,1.350,NaN,01:34.943
52,0 days 01:07:14.720000,16,0 days 00:01:34.794000,3.0,1.0,NaT,NaT,0 days 00:00:35.061000,0 days 00:00:30.109000,0 days 00:00:29.624000,...,2022-03-27 17:06:39.936,0 days 00:01:34.794000,0 days 00:04:47.157000,0 days 00:04:45.609000,0 days 00:00:01.548000,Verde,NaT,1.548,NaN,01:34.794
53,0 days 01:08:49.371000,16,0 days 00:01:34.651000,4.0,1.0,NaT,NaT,0 days 00:00:34.936000,0 days 00:00:30.138000,0 days 00:00:29.577000,...,2022-03-27 17:08:14.730,0 days 00:01:34.651000,0 days 00:06:21.808000,0 days 00:06:20.049000,0 days 00:00:01.759000,Verde,NaT,1.759,NaN,01:34.651
54,0 days 01:10:24.527000,16,0 days 00:01:35.156000,5.0,1.0,NaT,NaT,0 days 00:00:35.115000,0 days 00:00:30.318000,0 days 00:00:29.723000,...,2022-03-27 17:09:49.381,0 days 00:01:35.156000,0 days 00:07:56.964000,0 days 00:07:54.545000,0 days 00:00:02.419000,Verde,NaT,2.419,NaN,01:35.156

In [22]:
racelaps.to_csv('race_laps_Jedaah_2022.csv',index=False)

###  Pivoteos

laps_pivot = (pd.pivot_table(racelaps, values='laptime2', index=['LapNumber'],
                    columns=['Driver'], aggfunc=np.sum))

tablecum=(laps_pivot.cumsum(axis = 0))
tablecum

tablecum['laptime_cum_min'] = tablecum.min(axis = 1) 
tablecum

laps_pivot2 = (racelaps.pivot(
               values=['laptime2'],
               index=['LapNumber'],
               columns=['Driver'],
              ).reset_index())
laps_pivot2